:root {
    --font-familia: 'Prata', serif;;
    
} 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-width: 100vh;
    padding: 20px;
    font-family: var(--font-familia);
    font-size: 14.3px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 450px;
    max-width: 1400px;
    max-height: auto;
    margin: auto;
    }

.jung-img {
    width: 240px;
    height: 400px;
    position: relative;
}

.circ {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.233);
    width: 390px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.fundo2 {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 950px;
    height:450px;
    position: relative;
    padding: 18px;
    box-shadow: 2px 20px 42px 12px rgba(0, 0, 0, 0.425)
}

.fundo2::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/shadows1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    height: auto;
    opacity: 0.76;
    transform: scaleX(-1);
}

.nome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 6px;
}

.texto-p1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    text-align: center;
    justify-content: center;
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px ;
}

nav .logo {
    position: relative;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
}
nav ul li a:hover {
    color: rgb(102, 185, 240);
    transition: 0.6s;
}

ul li {
    list-style: none;
    position: relative;
}

ul li  a {
    text-decoration: none;
    position: relative;
    color: inherit;
    padding: 20px;
}