:root {
    --font-familia: 'Prata', serif;;
    --font-familiap: 'Inconsolata', monospace;
    
} 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-width: 100vh;
    padding: 20px;
    font-family: var(--font-familia);
    font-size: 14.3px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 450px;
    max-width: 1400px;
    max-height: auto;
    margin: auto;
    }

.jung-img {
    width: 240px;
    height: 400px;
    position: relative;
}

.circ {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.308);
    width: 368px;
    height: 380px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 3px -70px 66px rgba(0, 0, 0, 0.438);
}

.fundo2 {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: auto;
    height:450px;
    position: relative;
    padding: 18px;
    box-shadow: 2px 20px 42px 12px rgba(0, 0, 0, 0.425)
}

.fundo2::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/shadows1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    height: auto;
    opacity: 0.80;
    transform: scaleX(-1);
}

.nome {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 6px;
}

.img-s {
    width: 50px;
    height: 50px;
}

.texto-p1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    color: rgb(0, 0, 0);
}

.informacao {
    position: relative;
    display: flex;
    text-align: right;
    color: white;
    padding-top: 80px;
}

.informacao ul li {
    padding: 3.3px;
    list-style-type: none;
}
.informacao ul li a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-familiap);
    cursor: pointer;
}

.informacao ul li a:hover {
    color: rgb(102, 185, 240);
    transition: 0.2s;
    text-decoration: underline;
}

.informacao h2 {
    display: flex;
    justify-content: right;
}

nav {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

nav .logo {
    position: relative;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    
}

nav .logo a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


nav ul li {
    display: inline-block;
    padding-left: 18px;
    list-style: none;
}

nav ul li a {
    position: relative;
    font-size: 17px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: rgb(102, 185, 240);
    transition: 0.6s;
    text-decoration: underline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: rgb(104, 39, 165);
    transition: 0.4s;
    cursor: pointer;
}