* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: blueviolet;
    align-items: center; /*vai permitir alinhar o item no eixo secundario*/
    justify-content: center; /*vai permitir alinhar o item no eixo principal*/

}

.nav-bar {
    position: relative;
    height: 120px;
    width: 500px;
    background: white;
    box-shadow: 9px 11px 12px 0px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-bar ul {
    position: relative;
    display: flex;
}

.nav-bar ul li {
    position: relative;
    list-style: none;
}

.nav-bar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    width: 90px;
    text-decoration: none;
}

.nav-bar ul li a i {
    color: blueviolet;
    font-size: 38px;
    position: absolute;
}

.activeIcon {
    opacity: 0;
    transition: all 0.6s ease;
    transition-delay: 0.2;
}

.nav-bar ul li.active-list a i {
    opacity: 1;
}

.indicator {
    position: absolute;
    bottom: -19px;
    left: 34px;
    width: 25px;
    height: 36px;
    background:blueviolet;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.indicator::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 50%;
    height: 22px;
    width: 20px;
    background: white;
    border-bottom-right-radius: 20px; /* para aplicar o efeito de borda somente na parte de baixo a direita, o mesmo serve para outros comando de border-radius especificos.*/
    box-shadow: 0 10px 0 blueviolet;
}

.indicator::after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 50%;
    height: 22px;
    width: 20px;
    background: white;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 0 blueviolet;
}
